html {
	background: #ddd;
}
body {
	outline: none;
	border: none;
	font: 300 100%/1.75 'Helvetica Neue', Helvetica, 'Lantinghei SC', 'Hiragino Sans GB', sans-serif;
}
a {
	text-decoration: none;
	color: #3466CC;
	cursor: pointer;
}
a:hover {
    color: #ed282d;
    transition: 0.1s;
}
article {
	margin:0 auto;
	max-width: 620px;
	padding: 60px 80px;
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .12);
    box-shadow: 0 1px 6px rgba(0, 0, 0, .12);
    background: #fff;
    margin-top: 30px;
    border-radius: 3px;
}
.markdown-body {
	font: 300 100%/1.75 'Helvetica Neue', Helvetica, 'Lantinghei SC', 'Hiragino Sans GB', sans-serif;
	color: #505050;
  letter-spacing: 1px;
}
.markdown-body img {
  max-width: 100%;
}
h1 {
    color: #ED1F24;
    line-height: 36px;
    margin: 20px 0;
    text-align: center;
	font-weight: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 30px;
}
center {
	color: #999;
}
center a {
	color: #444;
}
hr {
	border: 0;
	background-color: #f8f8f8;
	height: 1px;
	margin-bottom: 60px;
}
code {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: #eee;
  border-radius: 3px;
}
pre code {
  margin: 0;
  display: block;
  padding: 15px;
  border: none;
  border-radius: 0;
  overflow-x: scroll;
  letter-spacing: 0;
  border: 1px solid #ddd;
}
blockquote {
  border-left: 4px solid #ED1F24;
  background: #eee;
  margin: 0;
  padding: 10px 25px;
  font-size: 14px;
}